<div style="display: flex; flex-flow: column nowrap; align-items: center; padding: 80px 10vw;">
    <h1>Client Profile Quenstionnaire</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="section" style="border: none;">
            <div class="flex-container gap-40 row">
                <div class="flex-container gap-10" style="flex: 0;">
                    <label>Marital Status:</label>
                    <mat-checkbox color="primary" [(ngModel)]="checked">Single</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checked">Married</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checked">Divorced</mat-checkbox>
                    <mat-checkbox color="primary" [(ngModel)]="checked">Widow(er)</mat-checkbox>
                </div>
        
                <div style="height: 25px; border-left: solid 1px #c1a301;"></div>
        
                <div class="flex-container gap-10">
                    <label>Wedding Date:</label>
                    <input>
                </div>
            </div>
        </div>
    
    
        <div class="section gap-20">
            <h2>CLIENT 1</h2>
    
            <div class="flex-container gap-10">
                <label>Name (First, Middle, Last):</label>
                <input>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>SSN:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>DOB:</label>
                    <input>
                </div>
            </div>
    
            <div class="flex-container gap-10">
                <label>Employment status:</label>
                <mat-checkbox color="primary" [(ngModel)]="checked">Employed</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Self-employed</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Student</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Retired</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Other:</mat-checkbox>
                <input>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>Employer name:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>Owner's occupation:</label>
                    <input>
                </div>
            </div>
    
            <div class="flex-container gap-40 wrap">
                <div class="flex-container gap-10 flex-50">
                    <label>Employer address:</label>
                    <input>
                </div>
                <div class="flex-container gap-40">
                    <div class="flex-container gap-10 flex-10">
                        <label>City:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-10 flex-4">
                        <label>State:</label>
                        <input style="flex: 0; width: 50px;">
                    </div>
                    <div class="flex-container gap-10 flex-8">
                        <label>ZIP:</label>
                        <input>
                    </div>
                </div>
            </div>
    
            <div class="sub-section gap-20">
                <h3>VERIFICATION OF CLIENT</h3>
    
                <div class="flex-container gap-10">
                    <label>Type (must be government-issued photo ID):</label>
                    <input>
                </div>
    
                <div class="flex-container gap-40 wrap">
                    <div class="flex-container gap-10 flex-50">
                        <label>ID#:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-40">
                        <div class="flex-container gap-10 flex-4">
                            <label>Issuer (state, gov't agency, etc.):</label>
                            <input style="flex: 0; width: 100px;">
                        </div>
                        <div class="flex-container gap-10 flex-10">
                            <label>Exp. date:</label>
                            <input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="section gap-20">
            <h2>CLIENT 2</h2>
    
            <div class="flex-container gap-10">
                <label>Name (First, Middle, Last):</label>
                <input>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>SSN:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>DOB:</label>
                    <input>
                </div>
            </div>
    
            <div class="flex-container gap-10">
                <label>Employment status:</label>
                <mat-checkbox color="primary" [(ngModel)]="checked">Employed</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Self-employed</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Student</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Retired</mat-checkbox>
                <mat-checkbox color="primary" [(ngModel)]="checked">Other:</mat-checkbox>
                <input>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>Employer name:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>Owner's occupation:</label>
                    <input>
                </div>
            </div>
    
            <div class="flex-container gap-40 wrap">
                <div class="flex-container gap-10 flex-50">
                    <label>Employer address:</label>
                    <input>
                </div>
                <div class="flex-container gap-40">
                    <div class="flex-container gap-10 flex-10">
                        <label>City:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-10 flex-4">
                        <label>State:</label>
                        <input style="flex: 0; width: 50px;">
                    </div>
                    <div class="flex-container gap-10 flex-8">
                        <label>ZIP:</label>
                        <input>
                    </div>
                </div>
            </div>
    
            <div class="sub-section gap-20">
                <h3>VERIFICATION OF CLIENT</h3>
    
                <div class="flex-container gap-10">
                    <label>Type (must be government-issued photo ID):</label>
                    <input>
                </div>
    
                <div class="flex-container gap-40 wrap">
                    <div class="flex-container gap-10 flex-50">
                        <label>ID#:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-40">
                        <div class="flex-container gap-10 flex-4">
                            <label>Issuer (state, gov't agency, etc.):</label>
                            <input style="flex: 0; width: 100px;">
                        </div>
                        <div class="flex-container gap-10 flex-10">
                            <label>Exp. date:</label>
                            <input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section gap-20">
            <h2>CONTACT INFORMATION</h2>
    
            <div class="flex-container gap-40 wrap">
                <div class="flex-container gap-10 flex-50">
                    <label>Primary address:</label>
                    <input>
                </div>
                <div class="flex-container gap-40">
                    <div class="flex-container gap-10 flex-10">
                        <label>City:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-10 flex-4">
                        <label>State:</label>
                        <input style="flex: 0; width: 50px;">
                    </div>
                    <div class="flex-container gap-10 flex-8">
                        <label>ZIP:</label>
                        <input>
                    </div>
                </div>
            </div>
    
            <div class="flex-container gap-40 wrap">
                <div class="flex-container gap-10 flex-50">
                    <label>Secondary address:</label>
                    <input>
                </div>
                <div class="flex-container gap-40">
                    <div class="flex-container gap-10 flex-10">
                        <label>City:</label>
                        <input>
                    </div>
                    <div class="flex-container gap-10 flex-4">
                        <label>State:</label>
                        <input style="flex: 0; width: 50px;">
                    </div>
                    <div class="flex-container gap-10 flex-8">
                        <label>ZIP:</label>
                        <input>
                    </div>
                </div>
            </div>
    
            <div class="flex-container gap-10">
                <label>Dates at secondary address (if applicable):</label>
                <input>
                <label>to</label>
                <input>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>Home phone:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>Cell:</label>
                    <input>
                </div>
            </div>
    
            <div class="flex-container gap-40">
                <div class="flex-container gap-10">
                    <label>Primary email:</label>
                    <input>
                </div>
                <div class="flex-container gap-10">
                    <label>Secondary email:</label>
                    <input>
                </div>
            </div>
        </div>

        <div class="flex-container" style="justify-content: flex-end;">
            <button mat-raised-button color="primary">SUBMIT</button>
        </div>
    </form>
    
</div>