<div style="height: 100%">
  <div style="position: absolute; top: 0; width: 100%">
    <mat-toolbar>
      <img
        src="../assets/logo.png"
        routerLink="home"
        style="height: 75%; cursor: pointer"
      />

      <div style="display: flex; gap: 2.5%; height: 100%; align-items: center; justify-content: center; flex: 1;">
        <button mat-button color="primary" class="btn-tab">ABOUT</button>
        <button mat-button color="primary" class="btn-tab">WHY US</button>
        <button mat-button color="primary" class="btn-tab">SERVICES</button>
        <button mat-button color="primary" class="btn-tab">TESTIMONIALS</button>
        <button mat-button color="primary" class="btn-tab">EVENTS</button>
        <button mat-button color="primary" class="btn-tab">CONTACT</button>
      </div>
      
      <button mat-raised-button color="primary" class="btn-tab" routerLink="calendar">BOOK AN APPOINTMENT</button>
    </mat-toolbar>
  </div>

  <div style="display: flex; flex-flow: column nowrap; padding-top: 80px; min-height: 104%;">
    <router-outlet></router-outlet>

    <div class="footer">
      <div style="align-items: flex-start;">
        <img src="../assets/PW_Logo.png" style="height: 40px; margin-bottom: 20px;"/>
        <h3>Andrew Rojas</h3>
        <p><strong>Email: </strong> andrew@pwa.com</p>
        <p style="word-spacing: 0px;"><strong>Phone: </strong> (480) 798-0294</p>
      </div>

      <div style="justify-content: center; border: solid 1px #c1a301; border-width: 0px 1px 0px 1px; margin: 0 6% 0 6%;">
        <button mat-button color="primary" class="btn-tab">ABOUT</button>
        <button mat-button color="primary" class="btn-tab">WHY US</button>
        <button mat-button color="primary" class="btn-tab">SERVICES</button>
        <button mat-button color="primary" class="btn-tab">TESTIMONIALS</button>
        <button mat-button color="primary" class="btn-tab">EVENTS</button>
        <button mat-button color="primary" class="btn-tab">CONTACT</button>
      </div>

      <div style="align-items: center; gap: 10px;">
        <h3>Inqueries:</h3>
        <input placeholder="Name">
        <input placeholder="Email">
        <textarea placeholder="Message"></textarea>
        <button mat-raised-button color="primary" style="width: 100%;">SEND</button>
      </div>
    </div>
  </div>
</div>
